body {
  background-color: rgb(210,210,210);
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: red;
}

.item {
  padding: 20px;
  text-align: center;
}

.item:hover {
  background-color: rgb(170,170,170);
}
